<!--<suite name="Test Suite">-->
<!--&lt;!&ndash;    //    <listeners>&ndash;&gt;-->
<!--&lt;!&ndash;    //        <listener class-name="path.to.RetryAnalyzer"/>&ndash;&gt;-->
<!--&lt;!&ndash;    //    </listeners>&ndash;&gt;-->
<!--    <test name="Test">-->
<!--        <classes>-->
<!--            <class name="ru"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->
